.modalAdd{
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 5px #666; 
    border: 20px solid white;
    margin: 55px 300px 30px 300px;
    font-size: 20px;
}

.add{
    background: green;
    border-radius: 4px;
    color: white;
    height: 30px;
    width: 50px;
}
.input{
    margin: 5px;
}