h1{
    font-size: 30px;
    
}
.modalAdd{
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 5px #666; 
    border: 20px solid white;
    font-size: 20px;
    width: 250px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 12px;
}

.add{
    background: green;
    border-radius: 4px;
    color: white;
    height: 30px;
    width: 50px;
    margin-top: 10px;
}
.input{
    margin: 5px;
    padding: 5px;
    font-size: 18px;
}
.wrapper-data{
    display: flex;
    flex-direction: column;
}