.nav a {
    display: inline-block;
    padding: 10px; 
    position: relative;
    text-decoration: none;
    font-size: 22px;
    margin: 5px;
    @media (max-width: 767px) {
        font-size: 18px;
        font-weight: bold;
        margin: 0px;
    }
}
.nav{
    background-color:#392e68;
    border-radius: 12px;
    padding: 10px;
    @media (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.wrapper{
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
        justify-content: flex-end;
    }
}

a{
    
    color: white;
    border-radius: 4px;
}

.active{
    background:#e93f38;
}