th, td{
    border :1px solid black;
}
table{
    border-spacing: 0px;
    
   
}
.delete{
   
    border-radius: 5px;
    color: red;
}

.table{
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 5px #666; 
    border: 20px solid white;
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    background: white;
        @media (max-width: 767px) {
            border: 8px solid white;
        }

    
}
.fila{
    border-bottom: 1px solid #bcb3b3;
    padding: 15px;
    background: #dad6d6;
    border-radius: 4px;
    
        @media (max-width: 767px) {
        font-size: 16px;
        }
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    font-size: 38px;
    @media (max-width: 767px) {
        font-size:28px;
        padding-top: 10px;
    }
}
