th, td{
    border :1px solid black;
}
table{
    border-spacing: 0px;
   
}
.delete{
    background: brown;
    border-radius: 5px;
    color: white;
}
.modalAdd{
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 5px #666; 
    border: 20px solid white;
    margin: 55px 300px 30px 300px;
    font-size: 20px;
}
.table{
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 5px #666; 
    border: 20px solid white;
    margin: 30px 400px 30px 379px;
    font-size: 20px;

    
}
.fila{
    border-bottom: 1px solid #bcb3b3;
    padding: 15px;
    background: #dad6d6;
    border-radius: 4px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.add{
    background: green;
    border-radius: 4px;
    color: white;
    height: 30px;
    width: 50px;
}
.input{
    margin: 5px;
}